extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat culpa tenetur ducimus pariatur minus eligendi natus fugit placeat sunt quaerat temporibus error, nisi beatae? Dicta nam suscipit ipsam delectus quisquam?

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam eligendi esse fugit aliquam porro mollitia doloribus quia exercitationem rerum molestias ipsum unde sunt nihil tenetur alias nisi, debitis quas minima?Ut sapiente, voluptates modi quisquam eaque unde qui rerum aliquam delectus harum, minima vel.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsum iure facilis repellat numquam nobis tempora voluptatibus ipsam, error ipsa et neque quos corrupti, accusantium, asperiores laborum enim voluptas ullam!
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur obcaecati blanditiis maxime nemo aliquam consequuntur. Molestias, cum.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur obcaecati blanditiis maxime nemo aliquam consequuntur. Molestias, cum.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur obcaecati blanditiis maxime nemo aliquam consequuntur. Molestias, cum.